.neparan{
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.trica
{
font-size: 24px;
background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.paran{
    color: blue;
    font-size: 36px;
}

.cetiri
{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}